<div class="app-wrapper">
  <header class="header">
    <div class="nav-primary">
      <div class="h-group container d-flex">
        <div class="logo d-flex flex-fill align-items-center">
          <img alt="TD Canada Trust" src="assets/images/logo.png" (click)="home()">
        </div>
        <div _ngcontent-pstnc-app-c40="" class="d-flex align-items-center justify-content-center"><!----><!----></div>
        <div _ngcontent-pstnc-app-c40="" class="d-flex flex-fill justify-content-end align-items-center req-mon-link">
              <a (click)="requestMonitor()">Request Monitor <b>></b></a>
        </div>
      </div>
    </div>
  </header>

  <div role="main" class="contentarea Site-content ">

    <div class="router">
      <router-outlet></router-outlet>
    </div>
    <router-outlet name="popup"></router-outlet>
  </div>

  <footer>
    <div>-</div>
  </footer>
</div>